<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./homePageStyle.css">
    <title>Shady safwat kamal</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="#  ">Home</a> 
            </li>
            <li>
                <a href="">About me</a> 
            </li>
            <li>
                <a href="">Projects</a> 
            </li>
            <li>
                <div class="hireMe">
                    <a href="">Hire me!</a> 
                </div>
                
            </li>
        </ul>
    </nav>
    <section class="mainPage">
        <div class="nameContainer">
            <h1 class="title">SHADY SAFWAT</h1>
            <h3 class="subTitle">I'm a</h3>
            <h1 class="job">SOFTWARE ENGINEER</h1>
        </div>
        <div class="contentP">
            <p>Hello , i’m 25 Years old  software developer that have a great potential in learning and building  great applications and websites. </p>
        </div>

        .
        <div class="navigationBtn">
            <button>    </button>
        </div>
    </section>
    <script src="../control/mouseCusrorControl.js"></script>
</body>
</html>