<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./homePageStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Shady safwat kamal</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="#  ">Home</a> 
            </li>
            <li>
                <a href="">About me</a> 
            </li>
            <li>
                <a href="">Projects</a> 
            </li>
            <li>
                <div class="hireMe">
                    <a href="">Hire me!</a> 
                </div>
                
            </li>
        </ul>
    </nav>
<!-- Home section -->
    <section class="mainPage">
        <div class="nameContainer">
            <h1 class="title">SHADY SAFWAT</h1>
            <h3 class="subTitle">I'm a</h3>
            <h1 class="job">SOFTWARE ENGINEER</h1>
        </div>
        <div class="contentP">
            <p>Hello , i’m 25 Years old  software developer that have a great potential in learning and building  great applications and websites. </p>
        </div>

        <div class="navigationBtn">
            <button> <i class="fa-solid fa-chevron-down" style="color: white;"></i>    </button>
        </div>
    </section>

<!-- projects section -->
    <section class="projectsPage">
        <h2>Projects</h2>
<!-- Project card contians summery about project -->
        <div class="projectsContaier">

            <div class="projectCard">
                <h4>Todo</h4>
                <!-- project icon and technologies used  -->
                <div class="picAndTechContainer">
                    <div class="imgContainer">
                        <img src="" class="projectImage"alt="">
                    </div>
                    <div class="langContainer">
                        <h5>Technologies</h5>
    
                    </div>
                </div>
    
                <h4>Mobile Application</h4>
                <div class="buttonsContainer"> 
                    <button> View project</button>
                    <button>Download App</button>
                </div>
                <!--  -->
            </div>
            <div class="projectCard">
                <h4>Todo</h4>
                <!-- project icon and technologies used  -->
                <div class="picAndTechContainer">
                    <div class="imgContainer">
                        <img src="" class="projectImage"alt="">
                    </div>
                    <div class="langContainer">
                        <h5>Technologies</h5>
    
                    </div>
                </div>
    
                <h4>Mobile Application</h4>
                <div class="buttonsContainer"> 
                    <button> View project</button>
                    <button>Download App</button>
                </div>
                <!--  -->
            </div>
            <div class="projectCard">
                <h4>Todo</h4>
                <!-- project icon and technologies used  -->
                <div class="picAndTechContainer">
                    <div class="imgContainer">
                        <img src="" class="projectImage"alt="">
                    </div>
                    <div class="langContainer">
                        <h5>Technologies</h5>
    
                    </div>
                </div>
    
                <h4>Mobile Application</h4>
                <div class="buttonsContainer"> 
                    <button> View project</button>
                    <button>Download App</button>
                </div>
                <!--  -->
            </div>
            <div class="projectCard">
                <h4>Todo</h4>
                <!-- project icon and technologies used  -->
                <div class="picAndTechContainer">
                    <div class="imgContainer">
                        <img src="" class="projectImage"alt="">
                    </div>
                    <div class="langContainer">
                        <h5>Technologies</h5>
    
                    </div>
                </div>
    
                <h4>Mobile Application</h4>
                <div class="buttonsContainer"> 
                    <button> View project</button>
                    <button>Download App</button>
                </div>
                <!--  -->
            </div>
        </div>


<!-- scroll indecator -->
<div class="scrollContainer">
    <div class="activeBall currentActiveBall"></div>
    <div class="activeBall"></div>
    <div class="activeBall"></div>
    <div class="activeBall"></div>
    <div class="activeBall"></div>
</div>
<!-- navigation buttons  -->
        <div class="navigationBtn">
            <button> <i class="fa-solid fa-chevron-up" style="color: white;"></i>    </button>
        </div>
        
    </section>
    <script src="../control/mouseCusrorControl.js"></script>
</body>
</html>