* {
  text-decoration: none;
  color: white;
  list-style: none;
  font-family: 'Varela Round', sans-serif;
}

button {
  border: none;
}

body {
  background-image: url("../assets/Background.png");
  background-repeat: none;
  background-size: cover;
  height: 90vh;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
}

li {
  margin-left: 1.6rem;
}

a {
  color: white;
}

.hireMe {
  background-color: #6b4ce5;
  padding: 0.4rem 1.2rem 0.4rem 1.2rem;
  border-radius: 2rem;
  cursor: pointer;
}

.hireMe > a {
  text-decoration: none;
  color: white;
}

.title {
  color: white;
  font-size: 4rem;
}

.nameContainer {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.subTitle {
  color: grey;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
}

.job {
  color: grey;
  font-size: 3.4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.Maintitle {
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.mainPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  width: 85vw;
  height: 80vh;
}

.contentP {
  color: white;
}

@-webkit-keyframes navigationButtonAnimation {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(0.6rem);
            transform: translateY(0.6rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes navigationButtonAnimation {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(0.6rem);
            transform: translateY(0.6rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

.navigationBtn {
  position: relative;
  bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigationBtn button {
  margin: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: 1px white solid;
  -webkit-animation: navigationButtonAnimation 1s 1;
          animation: navigationButtonAnimation 1s 1;
}

.navigationBtn button:hover {
  -webkit-animation: navigationButtonAnimation 1s infinite;
          animation: navigationButtonAnimation 1s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.projectsPage {
  margin: auto;
  width: 85vw;
  overflow: hidden;
  display: none;
}

.projectsContaier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 2%;
  height: 70vh;
  overflow-y: scroll;
}

.projectCard {
  margin: 0.8em;
  padding: 0.2rem 1.2rem 1.2rem 1.2rem;
  width: 28rem;
  background-color: rgba(31, 31, 31, 0.63);
  border-radius: 0.4rem;
}

.title {
  margin: 0.4rem;
  font-size: 1.4rem;
}

.imgContainer {
  width: 16%;
  margin: 1.2rem;
}

.imgContainer img {
  width: 100%;
}

.langContainer {
  width: 65%;
}

.buttonsContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.typeOfProject, .techTitle {
  font-size: 0.9rem;
}

.buttonsContainer button {
  border-radius: 1.2em;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  margin: 0.6rem 0.6rem 0 0.6rem;
  font-size: 0.8rem;
}

.picAndTechContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projectBtn {
  background-color: #AD00FF;
}

.downloadBtn {
  background-color: #4970D4;
}

.scrollContainer {
  position: absolute;
  right: 7%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 20%;
}

.activeBall {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #4c4c4c77;
  cursor: pointer;
}

.currentActiveBall {
  background-color: #e8e8e8;
  width: 1rem;
  height: 1rem;
  cursor: auto;
}

.aboutMePage {
  display: none;
}

@media screen and (max-width: 725px) {
  .scrollContainer {
    right: 1%;
  }
  .projectsContaier {
    height: 70vh;
    margin-top: 2rem;
  }
  .projectCard {
    width: 23rem;
  }
}
/*# sourceMappingURL=homePageStyle.css.map */